{% extends "base.html" %}

{% block body %}
<br><br><br><br><br><br>
<center>
<h1>Bienvenue dans contacts</h1>
<br><br>
<card class="card">
    <form action="">
        <h2 style="color: #e60909;">Nous contacter</h2>
        <input type="text" class="testaform" placeholder="Nom">
            <br><br>
        <input type="email" class="testaform" placeholder="Email">
            <br><br>
        <textarea class="testaform" placeholder="Message"></textarea>
            <br><br>
        <input type="submit" class="bouton" value="Envoyer">
    </form>
</card>








<b>Aller sur la <a href="{{ url_for('home') }}"> page d'acceuil </a></b>
</center>
{% endblock %}
